.info-primary {
  background-color: #1cc7c1;
}
.info-dark {
  background-color: #3a4256;
}
.info-container {
  height: 90px;
  padding: 30px;
}
.info-icon {
  font-size: 35px;
}
.info-card {
  padding: 0 5px;
}
