@media (max-width: 575px) {
  .appointment-container {
    margin-top: 400px;
  }
  .top-testimonial {
    margin-left: 85px !important;
  }
  .appointment-left {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .appointment-container {
    margin-top: 350px;
  }
}
